---
import Layout from "../layouts/Layout.astro";
---

<Layout title="B2L Animation Test">
	<main class="text-white h-[300vh]">
		<h1 class="sr-only">B2L Animation Test</h1>
		<div class="fixed inset-0 flex items-center justify-center">
			<svg
				class="illustration w-1/2"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 856 881"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0559"
					d="M407.2 241.1c-4.4-8.7-7.5-12.5-12.5-16.4-18.9-14.8-44.7 19.5-52.5 6.4"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0008"
					d="M477.2 233.9c16.5-25.4 34.6-28.9 48.1-10.5"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0013"
					d="M652.7 550.5c10.7-35 2.5-71.7-39.9-178.3-31-78.1-13.5-134.9-46.1-242.2C534.1 22.5 405-15.7 348 11.3c-21.9 10.4-42.5 22.9-55.5 44.3-60.1 16.7-108 136.1-109.7 288.6-1 86 49.8 184.6 42.5 214.5-1.6 6.7-32-10.5 7.4 33.6"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0013"
					d="M242.8 257.9c-37.3 87 6 90.5-3.5 201.2-4.3 50.7 18.8 119.5 57.9 146 28.8 19.5 32.1 35.2 33.1 41.9m-21-579.6c-42.8 34.7-54.3 81.1-62.8 171.2"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9975"
					d="M444.1 620.4c10.2-33.2 40.3-48.8 65.8-73.7 7.1-6.9 28.3-20.5 38.4-44.8"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0013"
					d="M467.8 46.3C418.3 6 358.6 31.2 318.8 60.7"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9974"
					d="M331.7 559.5c5.1 78.8 128.4 52.5 128.2 128-.1 56.8 183.9-169.1 205.3-114.6"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9305"
					d="M646.3 657.3c5.7-28.1 23.3-46.1 57.8-66.3 17.1-10-.4-20.4-21.8-12.4"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9979"
					d="M208.3 572c-39.9-2.6-60.6-35.6-95.3 8.2"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0013"
					d="M80.5999 611.3c-19.9-37.8 68.6001-24.4 90.5001-15.1 23.4 9.9 22 51.9 48.1 66.6"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0013"
					d="M93.1 613.5c-9.6 19.1-40.5 39.6-48.1 58.4-19 47-7 40.4-23.5 94.8M153.2 681c3.9 14.1 20.3 27.2 35.3 49.5 14.3 21.4 15.6 48.4 20.6 87.2"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0026"
					d="M718.8 606.3c17.1 5.3 36.2 28.3 53.8 49.3 32.6 38.9 42.9 141.1 80.7 202.5"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0013"
					d="M567.3 326.1c4.1 29.6.6 49.7-5.7 70.3-9.8 32.1-10.8 74 1.4 116-13-36.9-17.1-67.9-19.6-97.3-2.4-28.9 3.2-61.3 9.6-111.5 2.2-17.7 1.9-34 0-50.1-1.9-16.3-5.5-32.3-9.6-49.2C524 124.2 470.5 62.9 409.5 93"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0013"
					d="M568.2 482.8c48.5-54.5 15.2-115.4 11.6-138.1-3.4-20.9-11-115.6-12.4-147m-173.1-102c-42.4-3.6-73.2 33.2-73.6 100.3-.2 30.2-19 63.2-21.1 84.3-11.2 111.7 43.3 114.5 48.9 182.6 1.7 20.7-7.9 62.4-32.7 92.4"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0013"
					d="M286.7 311.8c-3.7 68.1 24.5 83.2 37.7 128.4 2.1 7.1 22 47.2-9.8 115.9"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.4302"
					d="M295.2 417.4c6.5 21.7 6 32.9-4.4 62.8 13.9-13.7 28.5-41.2 18.1-77"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9922"
					d="M397.9 349.1c6.5 2.8 15.6 5.5 21.6 5.7 16 .6 23.6-6.2 32.5-5.2 2 .2 4.4 2.1 9.9 1.7 3.2-.2 5.5-2.4 10.1-2.9 3.4-.4 6 1.8 11.9.6 4.2-.8 8.4-2.3 11.1-4.5"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9962"
					d="M317.2 353.8c.9 34.3 30.2 43.4 46.6 54.7 19.6 13.6 36.5 21.3 54.5 27.4 19.6 6.6 62.2 17.4 97.9-39.8 13.2-21.1 21.2-27.2 31.6-58.3"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9994"
					d="M534.8 195.5c-6.6-12.2-18.5-18-45.6-6.1-7 3.1-14.5 6.3-20 8"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9628"
					d="M416.4 198.6c-7.4-.4-13.2-1.5-17.6-2.5-37.4-8.5-48.2-5.3-71.3 14.8"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4"
					d="M519 441.1c.3 19.6-.9 63.1-30.9 104.1 41.3-34.6 54.7-84.9 55.6-117.3M17 790.7C5.7 806.6 2.89998 861.4 2.59998 867.6"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9794"
					d="M648.6 721.7c-33.9 17.7-29.7 64.9-119.9 63.6"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9203"
					d="M203.1 878.7c-17.9-69.5-21-83.8-49.7-127.7"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9911"
					d="M233.6 605.5c-.2 37.1-5.5 87.6 24.4 100.5 105.6 45.4 111 111.5 124.4 122.6 41.7 34.7 68.6-6.7 155.2-28.4"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4.0002"
					d="M625 716.6c60.9-1.9 37.2-67.6 93.8-110.3"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4"
					d="M744 673.4c-32.9 84.4-19.4 94.4-56.1 177.6m84.3-98.6c-4.2 56.4-14.6 47.1-4.9 83.5"
				></path>
				<path
					fill="#000"
					fill-rule="evenodd"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.7697"
					d="M388.5 224.3c-10.1-3-19.9 17.8-5.1 19.5 12.7 1.5 12.5-17.3 5.1-19.5Z"
					clip-rule="evenodd"></path>
				<path
					fill="#000"
					fill-rule="evenodd"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9856"
					d="M503.5 214.9c8.8-1.2 12.5 20 1.7 20.2-10.7.1-8.5-19.3-1.7-20.2Z"
					clip-rule="evenodd"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4"
					d="M458.1 376.1c1.9.1 7.7-2.5 12.6.1"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.578"
					d="M457.9 332.8c.3.1 2.7 4.3 6.5 1.1"></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4"
					d="M489 65.3c16.2 13.8 25.5 15.6 48.3 48.6 11.9 17.3 23.4 59.9 24.8 65.7"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="3.9675"
					d="M461.8 254.4c1 6.9 2.7 9.2 3.9 11.5 7.3 12.7 18.4 25.5 8.7 34.5-2 1.8-5.3 4.8-9 5.9-2.5.7-6-.9-10.6-2.4-6-2-6.8 6-17.5 2.4"
				></path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-miterlimit="1.5"
					stroke-width="4"
					d="M311.5 531.7c-17.9-28.3-50.2-9.2-64-57"></path>
			</svg>
		</div>
	</main>
</Layout>

<style>
	svg.illustration > path {
		stroke: #fff;
	}
</style>

<script>
	const svg = document.querySelector("svg.illustration");
	const paths = svg.querySelectorAll("path");
	const scroll = () => {
		const distance = window.scrollY;
		const totalDistance = document.body.clientHeight - window.innerHeight;
		paths.forEach((path) => {
			const pathLength = path.getTotalLength();
			path.style.strokeDasharray = `${pathLength}`;
			path.style.strokeDashoffset = `${pathLength - (distance / totalDistance) * pathLength}`;
		});
	};
	scroll();
	window.addEventListener("scroll", scroll);
</script>
